<html>
    <head>
        <title>Portfolio Watcher</title>
    </head>
    <body>
        <h1>Welcome to Portfolio Watcher</h1>
        <p>Here at Portfolio Watcher, we make it easy to track your investments. <br>
           Please select below if you'd like to create a new investment entry, or view your portfolio.</p>
        <div>
            <a href="create/investment"><button type="button">New Investment</button></a>
            <a href="http://localhost:8080"><button type="button">View Portfolio</button></a>
        </div>

    </body>
</html>