<html>
    <head>
        <title>Invest</title>
    </head>
    <body>
        {% if message %}
            {{ message }}
        {% endif %}
        <form action="/create/investment" method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" value="Submit">Save</button>
        </form>
        <p>Don't see the company? Try adding it here: <a href="company"><button type="button">Add company!</button></a></p>
        <p>Want to view your portfolio? Generate your report here: <a href="/retrieve"><button type="button">Generate report!</button></a></p>
    </body>
</html>
